.container {
    margin: auto;
    border: 1px solid black;
    width: 800px;
    padding: 5px;
}

.satu {
    width: 150px;
    height: 500px;
    background-color: black;
    float: left;
}

.dua {
    width: 500px;
    height: 500px;
    background-color: tomato;
    float: left;
}

.tiga {
    width: 150px;
    height: 500px;
    background-color: bisque;
    float: left;
}

.clear {
    clear: left;
}

.logo img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}