html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* style */
body {
    background-color: azure;
}

.container {
    width: 9px;
    background-color: bisque;
    margin: auto;
    position: relative;
}

.header h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

img {
    width: 60px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    top: 10px;
}

.header ul li{
    display: inline-block;
    margin: 10px;
}

.header ul li a {
    text-decoration: none;
    color: aqua;
}

.header ul li a:hover {
    color: salmon;
}

.hero {
    background-image: url(/image/bg6.jpg);
    height: 300px;
    background-size: cover;
    border-top: 5px solid salmon;
    border-bottom: 5px solid skyblue;
}

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: justify;
}

.content h2 {
    font-size: 26px;
    margin: 20px;
}
.penulis {
    font-size: 12px;
    margin-bottom: 30px;
}
