html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style css */
body {
    background-color: aquamarine;
    font: 16px/26px arial, sans-serif;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: white;
}

.header {
    width: auto;
    margin: auto;
    background-color: darkturquoise;
}
.header h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    color: teal;
}
.header p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: salmon;
}

.header ul li{
    display: inline-block;
    text-decoration: none;
}

.header .jumbotron ul {
    height: 70px;
    background-color: skyblue;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron ul li a {
    text-decoration: none;
}

.jumbotron ul li {
    margin: 20px;
}
.jumbotron ul li a:hover {
    color: salmon;
}

.hero {
    height: 300px;
    background-image: url(/image/bg9.jpg);
    background-size: cover;
    border-top: 5px solid salmon;
    border-bottom: 5px solid skyblue;
}

.main {
    margin: 10px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
	width: 600px;
	box-sizing: border-box;
	float: left;
}

.main h2 {
    font-size: 30px;
    font-weight: bold;
}

.main .penulis {
    margin: 10px;
    font-size: 12px;
}

.main article {
    font-size: 15px;
    margin: 5px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
    background-color: white;
}

.sidebar img {
	width: 70px;
	height: 70px;
    float: left;
}

.sidebar p {
	font: 12px/18px arial;
}

.sidebar h3 {
	font-weight: bold;
	color: darkgray;
}


.footer {
    height: 30px;
    background-color: darkcyan;
}

.footer .copy {
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}












































/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}